__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
env/
ENV/
.env

.idea/
.vscode/
*.swp
*.swo
*.log
logs/
*.pt
!model/best_model_simple_rnn.pt
.coverage
htmlcov/
.pytest_cache/
.docker/
docker-compose.override.yml
datasets/
config.py
config_api.py
